{% extends 'base.html.twig' %}

{% block title %}Formatos{% endblock %}

{% block main %}


 
    <div class="container">

        <div class="row justify-content-between">
            <div class="column">
                <h3><i class="fas fa-ruler-combined"> </i>Formatos</h3>
            </div>        
                <div class="column">

                </div>        
        </div>

    </div>


        <div class="pagerfanta">

            <table class="table table-hover table-sm table-responsible">

                <thead>
                
                    <th class="text-center"><a href="{{ path('formatosX', {orden: 'id'}) }}">{% if order == 'id' %}<i class="fas fa-sort-down"></i>{% endif %} Cod. interno</a></th>
                    <th class="text-center"><a href="{{ path('formatosX', {orden: 'name'}) }}">{% if order == 'name' %}<i class="fas fa-sort-down"></i>{% endif %} Formato</a></th>
                    <th class="text-center">Activo</th>
                    <th></th>
                    
                </thead>
                <tbody>
                {% for item in my_pager.currentPageResults %}

                <tr>
                    
                  
                    <td class="text-center">{{ item.id }}</td>
                    <td class="text-center">{{ item.name }}</td>
                    
                    
                    <td class="text-center">

                        {% if item.activo %}
                            <i class="fas fa-sun text-warning"></i>
                        {% else %}
                            
                        {% endif %}
                          
                    </td>  
                    <td class="text-right"><a href="{{ path('formato', {id: item.id}) }}" > <i class="fas fa-search"></i> Detalle</a></td>
                </tr>
                {% endfor %}
                </tbody>

            </table>

            {{ pagerfanta(my_pager, 'twitter_bootstrap4', { 'proximity': 1}) }}

        </div>


{% endblock %}