{% extends 'base.html.twig' %}

{% block title %}Carpeta {{ carpeta.id }}{% endblock %}

{% block main %}

<h3>Carpeta {{ carpeta.id }} <i class="far fa-folder-open"></i> {{ carpeta.ano }} | {{ carpeta.name }}</h3>

<br>

<div class="row">

    <div class="col-6">

        <h4><i class="fas fa-box"></i> Artículos relacionados</h4>

        <table class="table table-borderless table-hover table-sm">

            <tbody>
        
            {% for trabajo in trabajos %}
            <tr>
                <td>{{ trabajo.id }}</td>    
                <td><a href="{{ path('trabajo_show', {id: trabajo.id}) }}">{{ trabajo.STrabajo }}</a></td>    
            </tr>
            {% endfor %}
        
            </tbody>
        
        </table>
                
    </div>

    <div class="col-6 text-right">

        <h4><i class="fas fa-box-open"></i> Semielaborados relacionados</h4>

        <table class="table table-borderless table-hover table-sm">

            <tbody>
        
                {% for semi in semis %}
                <tr>
                    <td><a href="{{ path('semi_show', {id: semi.id}) }}">{{ semi.SSemi }}</a></td>    
                    <td>{{ semi.id }}</td>  
                </tr>
                {% endfor %}
        
            </tbody>
        
        </table>
    
    </div>

</div>


  

{% endblock %}