{% extends 'base.html.twig' %}

{% block title %}Administración{% endblock %}

{% block main %}

    {{ include('default/_credentials.html.twig') }}

    <div class="row">
        <div class="col">
        </div>
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Mantenimiento de artículos</h4>
                    <p class="card-text text-info">

                        <ul>
                            <li>
                                <a href="{{ path('formatosX') }}"><i class="fas fa-ruler-combined"></i>  Formatos</a>
                            </li>
                            <li>
                                    <a href="{{ path('clientesX') }}"><i class="far fa-address-book"></i> Clientes | Categorías</a>
                            </li>
                    
                        
                        
                        </ul>
                        
                        <ul>
                            <li>
                                    <a href="{{ path('carpetas') }}"><i class="far fa-folder-open"></i>Carpetas</a>
                            </li>
                            <li>
                                    <a href="{{ path('trabajos') }}"><i class="fas fa-box"></i> Artículos</a>
                            </li>
                            <li>
                                    <a href="{{ path('semis') }}"><i class="fas fa-box-open"></i> Semielaborados</a>
                            </li>
                                            
                        </ul>
                    </p>
                    
                </div>
            </div>
    



            <h4></h4>
            <h4></h4>
            <br>
            <h4></h4>
            <h4></h4>
            <h4></h4>


        </div>
        <div class="col">
        </div>
    </div>
    


{% endblock %}
