{% extends 'base.html.twig' %}

{% block title %}Lista Palets{% endblock %}

{% block main %}

    <table class="table js-palets-table table-sm table table-striped table-hoover table-responsive-sm">

        <thead>
            <tr>
                <td class="text-center">Unidades</td>
                <td class="text-center">Lote</td>
                <td class="text-center">Palet N.</td>
                <td class="text-danger text-center">BORRAR</td>
            </tr>    
        </thead>

        <tbody>
            {% for palet in palets %}
                <tr>
                    <td class="text-center text-success">{{palet.iUnidades}}</td>
                    <td class="text-center text-success">{{palet.iLote}}</td>
                    <td class="text-center text-success">{{palet.sCodigo}}</td>
                    <td class="text-center">
                        <a href="#" 
                            class="js-palet-delete" data-url="{{ path('codigoP_delete', {id: palet.id}) }}"
                        >
                            <span class="fas fa-skull-crossbones"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/js-palet-delete.js') }}"></script>
{% endblock %}

