{% extends 'base.html.twig' %}

{% block title %}Palets{% endblock %}

{% block main %}


<div class="container">

    <div class="row justify-content-between">

        <div class="column-sm-8">
            <h4 class="text-success"><i class="fas fa-box"></i> ARTÍCULO</h4>
            {% if trabajo.IdAnterior %}
                <h4 class="text-warning">{{ trabajo.IdAnterior }} | {{ trabajo.sTrabajo }}</h4>
            {% else %}
                <h4 class="text-light">{{ trabajo.Id }} | {{ trabajo.sTrabajo }}</h4>
            {% endif %}            
        </div>        

        <div class="column-sm-4 text-right">
            <a href="" class="btn btn-light btn-lg">
                <i class="fa fa-edit" aria-hidden="true"></i> Seleccionar otro
            </a>
        </div>        

    </div>

    <br><br>

    <form class="form" action="{{ path('recupera_trabajo') }}" method="post">

      <div class="form-row text-bottom">

            <div class="form-group col-sm-2">
                <h5>Unidades</h5> 
                <input type="text" size="5" name="iunidades" id="iunidades" class="form-control-lg" value="{{ i_uds_palet }}">
                
            </div>
    
            <div class="form-group col-sm-3">
                <h5>Lote</h5> 
                <input type="text" size="8" pattern="^[0-9]*$"  name="ilote" id="ilote" class="form-control-lg" value="{{ i_lote }}">
                
            </div>
    

            <div class="form-group col-sm-5">
                <h5><i class="fas fa-pallet"></i> Introduzca</h5> 
                <input type="text" pattern="[0-9]{10}" name="idpalet" id="idpalet" class="form-control-lg" placeholder="Código de PALET" required autofocus>
                
            </div>

            <div class="form-group col-sm-2">
                <button type="submit" class="btn btn-success btn-lg btn-block"> Insertar </button>  
                <input id="id" name="id" type="hidden" value="{{ trabajo.Id }}">
            </div>

       </div>

    </form>
    
    <br><br>
    
        <table class="table js-palets-table table-sm table-striped table-hoover table-responsive-sm">

            <thead>
                <tr class="text-center">
                    <td>Unidades</td>
                    <td>Lote</td>
                    <td>Palet N.</td>
                    <td class="text-danger">BORRAR</td>
                </tr>    
            </thead>
    
            <tbody>
                {% for palet in palets %}
                    <tr class="text-center text-success">
                        <td>{{palet.iUnidades}}</td>
                        <td>{{palet.iLote}}</td>
                        <td>{{palet.sCodigo}}</td>
                        <td>
                            <a href="#" 
                                class="js-palet-delete" data-url="{{ path('codigoP_delete', {id: palet.id}) }}"
                            >
                                <span class="fas fa-skull-crossbones text-danger"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    
        </table>

</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/js-palet-delete.js') }}"></script>
{% endblock %}
