{% extends 'base.html.twig' %}

{% block title %}Artículos{% endblock %}

{% block main %}

    <div class="container">

        <div class="row justify-content-between">
            <div class="col"><h4 class="text-success"><i class="fas fa-box"> </i>ARTÍCULOS</h4></div>
            <div class="col text-right">
                <a href="{{ path('new_trabajo') }}" class="btn btn-light btn-lg">
                    <i class="fa fa-edit" aria-hidden="true"></i> Insertar código ANTERIOR
                </a>
            </div>
        </div>
        
        <br>
        <hr>
        
        <div class="row">

            <table class="table table-hoover table-borderless table-sm table-responsive-sm" >

                <thead>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"> ID. </td>
                        
                        <td>Artículo (<i class="far fa-sun"></i> = activo)</td>
                        <td class="text-center">F. Alta</td>
                    </tr>
                </thead>

                <tbody>
                    {% for trabajo in trabajos %}
                        <tr>
                            <td class="text-center">{% if trabajo.IActivo %}<i class="far fa-sun"></i>{% endif %}</td>
                            <td class="text-center">{{ trabajo.id }}</td>
                            
                            <td> <a href="{{ path('trabajo_show', {id: trabajo.id}) }}">{{ trabajo.STrabajo }}</a></td>
                            <td class="text-center">{{ trabajo.TChanged|date('d/m/y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

{% endblock %}
