{% extends 'base9.html.twig' %}

{% block body_id 'user_password' %}

{% block main %}

<h3>{{ 'Cambie su contrase침a' }}</h3>

    <br/>

    {% if app.user.id == user.id %}
        <div class="alert alert-info" role="alert">
            {{ 'Tras cambiar su contrase침a se le pedir치 que se vuelva a autenticar.' }}
        </div>
    {% else %}              
    {% endif %}        


    {{ form_start(form) }}

        {{ form_widget(form) }}
        
            <div class="form-group row">

                <div class="col-sm-8 offset-sm-2">
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i> {{ 'Guardar' }}
                    </button>
                </div>
                
            </div>

    {{ form_end(form) }}


{% endblock %}

{% block sidebar %}

    <div class="container">

        <div class="row">

            <!--   Estamos editando la propia contrase침a ? -->

            <a href=

                {% if app.user.id == user.id %}
                    "{{ path('user_edit') }}"
                {% else %}    
                    "{{ path('user_id_edit', {id:user.id} ) }}"
                {% endif %}    

                     class="btn btn-lg btn-block btn-success">
                <i class="fas fa-arrow-left" aria-hidden="true"></i> {{ 'Cancelar' }}
            </a>
        </div>

        {{ parent() }}
        {# show_source_code(_self) #}

    </div>

    
{% endblock %}
