{% extends 'base9.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %} 

    {#} Breadcrumb #}

{% endif %}

    
    <div class="row justify-content-between">

        <div class="col">
            <h3>Mis datos de usuario</h3>
        </div>        
        <div class="col text-right">

        </div>     
    </div>    

        <br>  

    {{ form_start(form) }}

        {{ form_widget(form) }}

            <div class="form-group row">

                <div class="col-sm-2">
                </div>

                <div class="col-sm-6">

                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i> Guardar
                    </button>

                    &nbsp;&nbsp;

                    <a href="{{ path('user_cpanel') }}" class="btn btn-lg btn-secondary">
                        <i class="fas fa-undo"></i> Salir
                    </a>
            
                </div>

            </div>


    {{ form_end(form) }}

    </br>

{% endblock %}


{% block sidebar %}

    <div class="container">

        <div class="row">

            {# Cambiamos la contraseña propia o la de otro usuario !? #} 

            <a href="
            {% if app.user.id != user.id %}
                
            {% else %}
                {{ path('user_change_password') }}
            {% endif %}
            " class="btn btn-lg btn-block btn-danger">
                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'Cambiar mi contraseña' }}
            </a>
            


        </div>

        <div class="row">
            &nbsp;
        </div>

   
    </div>

    {{ parent() }}

    
{% endblock %}